<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="NewsBlog_Grid::manager" title="NewsBlog" module="NewsBlog_Grid" sortOrder="10" resource="NewsBlog_Grid::manager" />
        <add id="NewsBlog_Grid::add_row" title="Create New Post" module="NewsBlog_Grid" sortOrder="20" parent="NewsBlog_Grid::manager" action="grid/grid" resource="NewsBlog_Grid::add_row"/>
    </menu>
</config>
